<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="contentmastertoko" class="p-2">
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        Nama Toko
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                       <input type="text" class="input" v-model="namaToko">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        Alamat Toko
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <input type="text" class="input" v-model="alamatToko">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        No Telfon
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <input type="text" class="input" v-model="telfonToko">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <button class="button is-primary" @click="confirmMaster">Konfirmasi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script>
        const {createApp}  = Vue

        createApp({
            data(){
                return{
                    namaToko : '',
                    alamatToko : '',
                    telfonToko : ''
                }
            },
            methods: {
                confirmMaster : function () {
                    // console.log(this.namaToko,this.alamatToko,this.telfonToko)
                }
            },
        }).mount('#contentmastertoko')
    </script>
</body>
</html>