<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="contentmastertoko" class="p-2">
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        Nama Toko
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                       <input type="text" class="input">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        Alamat Toko
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        No Telfon
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-weight-bold">
                        <button class="button is-primary">Konfirmasi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script>
        const {createApp}  = Vue

        createApp({
            data(){
                return{
                    namaToko : 'mastertoko',
                    jalanToko : 'jln toko'
                }
            }
        }).mount('#contentmastertoko')
    </script>
</body>
</html>