<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="settingscontent" class="p-2">
        
        <div class="columns">
            <div class="column has-text-weight-bold">
                <b>Nama</b> *Jangan Diisi jika tidak ingin mengganti nama
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <input type="text" class="input" v-model="namaUser">
            </div>
        </div>

        <div class="columns">
            <div class="column has-text-weight-bold">
                Username
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <input type="text" class="input" disabled v-model="unameUser">
            </div>
        </div>

        <div class="columns">
            <div class="column">
               <b>Password</b> *Jangan Diisi jika tidak ingin mengganti password
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <input type="password" class="input" v-model="pswdUser">
            </div>
        </div>

        <div class="columns">
            <div class="column ">
                <button class="button is-warning" @click="updateUser">
                    Update
                </button>
            </div>
        </div>
    </div>    

    <script>
        const {createApp} = Vue

        createApp({
            data(){
                return{
                    unameUser : '',
                    pswdUser : '',
                    namaUser : '',
                }
            },
            methods: {
                updateUser : function (){
                    console.log(this.unameUser,this.pswdUser,this.namaUser)
                }
            },
            mounted() {
                
            },
        }).mount('#settingscontent')
    </script>
</body>
</html>